@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family:'Bebas Neue', cursive;
}

/*------------beginning navbar----------*/

.navbar-custom {
    background: #111111;
    padding: 10px 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(10,117,87,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.navbar-toggler {
    border-color: rgba(10,117,87,1);
  } 
.nav-link:hover {
    color: #111111;
    background-color: #ffffff;
  }

/*------------end navbar----------*/

/*------------beginning footer----------*/
.footer-custom {
    background-color: #111111;
    font-family: 'Bebas Neue', cursive;
    padding: 7em 0;
}
.footer-custom .menu a {
    color: #ffffff;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.menu a:hover {
    color: #111111;
    background-color: #ffffff;
  }

.footer-custom li {
    list-style: none;
}
.footer-custom a {
    text-decoration: none;
    color: #0a7557;
}
.social-links i:hover{
    color: #ffffff
}
.social-links p, .copyright {
    color:#ffffff;
}
/*------------end footer----------*/

/*------------HOME/INDEX TEMPLATE----------*/
/*------------beginning hero section----------*/
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    font-family: 'Bebas Neue', cursive;
}
.carousel-caption h1 {
    font-size: 6vw;
}
.carousel-caption h3 {
    font-size: 3vw;
}
.hero-btn {
    background-color: #0a7557;
    color:#111111
}

.hero-btn:hover {
    color: #0a7557;
    background-color:#111111;
}
/*------------end hero section----------*/

/*------------ beginning informations section----------*/
.details-row {
    margin-top: 48px;
}
.details-img{
    text-align: center;
}
.address p{
    margin:0;
}
.address li {
    margin:0;
    list-style-type: none;
}
.address h2 {
    font-size: 3vw;
}
.address-btn {
    background-color: #0a7557;
    color:#111111;
    margin-top: 2vw;
}
.address-btn:hover {
    color: #0a7557;
    background-color:#111111;
}
.address h2,
.working-hours h4 {
    color: #0a7557
}
.working-hours {
    border-style: double;
    padding: 2vw;
    max-width: 300px;

}
.working-hours li {
    list-style-type: none;
    margin-top: 3px;
}
.working-hours u {
    text-align: center;
}
/*------------end informations section----------*/

.about-us-section p {
    font-family: 'Roboto', sans-serif;
}
.about-us-section h2 {
    font-size: 3vw;
}
/*------------mobile responsivity----------*/

@media screen and (max-width: 768px) {
    .nav-link {
        font-size: 20px;
    }
    .details-row {
        align-items: center;
        margin-top: 0;
    }
    .address, 
    .working-hours,
    .details-img {
        margin-top: 48px;
}
    .address{
        font-size: x-large;
    }
    .address h2,
    .about-us-section h2{
        font-size: 50px;
    }
  }

@media screen and (max-width: 425px) {
    .carousel-caption h3 {
        font-size: 15px;
    }
}