.confirm-email-title {
    margin-top: 115px;
}

.error-message{
    margin-bottom: 115px;
}

.confirm-form {
    margin-bottom: 115px;
}

.btn {
    color:#ffffff;
    background-color: #0062cc;
}

.btn:hover {
    background-color: #111111;
    color:#ffffff;
}
