{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    name="description"
    content="Ask Japanese has the most traditional
            Japonese Food of UK. Book a visit">
            
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  
  {% block links  %}

  {% endblock %}
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Ask Japanese</title>
</head>

<body>
  <!-- beginning navbar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-custom">
    <a class="navbar-brand d-lg-none" href="{% url 'home' %}"><img
        src="https://res.cloudinary.com/arthurvg/image/upload/v1638546677/ASK_JAPANESE_13_ec1ljh.png"
        alt="Ask Japanese Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarToggle">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'menu' %}">Menu</a>
        </li>
      </ul>
      <a class="navbar-brand d-none d-lg-block" href="{% url 'home' %}"><img
          src="https://res.cloudinary.com/arthurvg/image/upload/v1638546455/ASK_JAPANESE_12_ha8zyi.png"
          alt="Ask Japanese Logo"></a>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bookings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'book' %}">Book a table</a>
              <a class="dropdown-item" href="{% url 'cancel' %}">Cancel</a>
              <a class="dropdown-item" href="{% url 'edit' %}">Edit</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'account_logout' %}">Log out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'account_login' %}">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'account_signup' %}">Register</a>
          </li>
          {% endif %}
      </ul>
    </div>
  </nav>

  <main class="flex-shrink-0 main-bg">
    {% block content %}
        <!-- Content Goes here -->
    {% endblock content %}
  </main>
  <!-- beginning footer -->
  <footer class="footer-custom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <h2 class="footer-heading"><a href="#" class="footer-logo">Ask Japanese</a></h2>
          <p class="menu">
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'menu' %}">Menu</a>
            {% if user.is_authenticated %}
            <a href="{% url 'book' %}">Book</a>
            <a href="{% url 'cancel' %}">Cancel</a>
            {% else %}
            <a href="{% url 'account_login' %}">Log in</a>
            <a href="{% url 'account_signup' %}">Register</a>
            {% endif %}
          </p>
      </div>
      <div class="row justify-content-center">
        <div class="col text-center social-links">
          <p>Love it? Share it! <span><a href="https://www.facebook.com/" rel="noopener" target="_blank"><i class="fab fa-instagram ml-2 fa-2x"></i></a> <a href="https://www.instagram.com/" rel="noopener" target="_blank"><i class="fab fa-facebook ml-2 fa-2x"></i></a> <a href="https://twitter.com/?lang=en" rel="noopener" target="_blank"><i class="fab fa-twitter ml-2 fa-2x"></i></a> </span></p>
        </div>
      </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <p class="copyright mx-1"> 2021 All rights reserved | This website was made with <i class="fas fa-heart"></i> by <a
              href="https://github.com/arthurvguide" rel="noopener" target="_blank">arthurvguide</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->
  
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
  </script>
  {% block scripts %}

  {% endblock %}
</body>

</html>