{% extends "base.html" %} 
{% load static %}

{% block links  %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
<script type="text/javascript">
(function() {
emailjs.init("user_TkEzmegXkpol9d9GnDzqn");
})();
</script>

{% endblock %}

{% block content %}

<!--Hero Section-->
<section>
    <div class="hero-img hero-img-contact">
      <div class="hero-text">
        <h1>Contact</h1>
      </div>
    </div>
  </section>
  <!--/.Hero Section-->

<!--Contact Form Section-->
<section class="m-5">

  <!--Section heading-->
  <h2 class="text-center">Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly</p>

  <!--Contact Form-->
  <div class="row mx-2">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="#" method="POST">

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="your_name" name="your_name" class="form-control">
                          <label for="your_name" class="">Your name</label>
                      </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="your_email" name="your_email" class="form-control">
                          <label for="your_email" class="">Your email</label>
                      </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->
              <!--Grid row-->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                          <input type="text" id="subject" name="subject" class="form-control">
                          <label for="subject" class="">Subject</label>
                      </div>
                  </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">

                      <div class="md-form">
                          <textarea id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                          <label for="message">Your message</label>
                      </div>

                  </div>
              </div>
              <!--Grid row-->
              <div class="text-center text-md-left">
                <input class="btn contact-btn " type="submit" id="btn-contact" value="Send Email">
             </div>
             <div class="status"></div>
          </form>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
              <li><i class="fas fa-map-marker-alt fa-2x"></i>
                  <p>Cheltenham, GL51 1DS, UK</p>
              </li>

              <li><i class="fas fa-phone mt-4 fa-2x"></i>
                  <p>01242 999 999</p>
              </li>

              <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                  <p>askjapaneserestaurant@gmail.com</p>
              </li>
          </ul>
      </div>
      <!--Grid column-->

  </div>

</section>
<!--/.Contact Form Section-->

{%endblock%}

{% block scripts %}

<script src="{% static 'js/contact.js' %}"></script>

{% endblock %}