{% extends "base.html" %} 
{% load static %}

{% block content %}
<!--Hero Section-->
<section>
  <!--Carousel Wrapper-->
  <div id="carousel-hero" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-hero" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-hero" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First Slide-->
      <div class="carousel-item active first-slide">
        <div class="view">
          <img class="first-slide-img d-block w-100" src="https://res.cloudinary.com/arthurvg/image/upload/v1638584754/jakub-dziubak-iOHJKJqO6E0-unsplash_vxmtc8.jpg"
            alt="First slide hero">
        </div>
        <div class="carousel-caption">
          <h3 class="text-uppercase">Welcome to Ask Japanese</h3>
          <h1 class="text-uppercase">Japanese restaurant and sushi bar</h1>
          <p class="d-none d-md-block">We are always in the mood for Japanese food</p>
          <div class="row justify-content-center">
              <div class="col">
                {% if user.is_authenticated %}
                <a href="{% url 'book' %}" type="button" class="btn hero-btn">Book your visit</a>
                {% else %}
                <a href="{% url 'account_login' %}" type="button" class="btn hero-btn">Log in for bookings</a>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
      <!--Second Slide-->
      <div class="carousel-item second-slide">
        <div class="view">
          <img class="second-slide-img d-block w-100" src="https://res.cloudinary.com/arthurvg/image/upload/v1638584754/jakub-dziubak-iOHJKJqO6E0-unsplash_vxmtc8.jpg"
            alt="Second slide hero">
        </div>
        <div class="carousel-caption">
          <h3 class="h3">Here we have all you wish from Japanese cuisine</h3>
          <div class="row justify-content-center">
              <div class="col">
                <a href="{% url 'menu' %}" type="button" class="btn hero-btn">Check our menu</a>
              </div>
          </div> 
        </div>
      </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-hero" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-hero" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
</div>
  <!--/.Carousel Wrapper-->
</section>
  <!--/.Hero Section-->

  <!--Explore our menu Section-->
  <section class="explore-menu-section">

    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Explore our <span>delicious </span>menu</h2>
        <p class="p-1 m-2">We are proud of our restaurant with the highest-quality products, most inviting places, friendliest staff and the best sushi in the world.</p>
      </div>
    </div>

    <div class="row text-center">
      <!--First Card-->
      <div class="col-12 col-md-6 col-lg-4 justify-content-center d-flex text-center">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/arthurvg/image/upload/v1638919598/mahmoud-fawzy-EqoCUzG9200-unsplash_1_c5oj6s.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Sushi Rolls</h4>
            <p class="card-text">Sushi is made of small pieces of raw fish that are wrapped in rice and seaweed.</p>
            <a href="{% url 'menu' %}" class="btn btn-explore-menu">View Menu</a>
          </div>
        </div>
      </div>
      <!--Second Card-->
      <div class="col-12 col-md-6 col-lg-4 justify-content-center d-flex text-center">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/arthurvg/image/upload/v1640306379/douglas-lopez-LlPLQGgYuio-unsplash_2_hslvay.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Yakisoba</h4>
            <p class="card-text">Fresh yakisoba noodles stir-fried in a tangy sauce served with crunchy vegetables</p>
            <a href="{% url 'menu' %}" class="btn btn-explore-menu">View Menu</a>
          </div>
        </div>
      </div>
      <!--third Card-->
      <div class="col-12 col-lg-4 d-md-none d-sm-flex d-lg-flex justify-content-center d-flex text-center ">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/arthurvg/image/upload/v1638931215/kyle-head-PW8K-W-Kni0-unsplash_p7z7al.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Salads & Street Food</h4>
            <p class="card-text">We have an extensive range of traditional Japanese street food and salads</p>
            <a href="{% url 'menu' %}" class="btn btn-explore-menu">View Menu</a>
          </div>
        </div>
      </div>
  </div>
</section>
<!--/.Explore our menu Section-->
<!--About us Section-->
<section>
  <div class="container about-us-section">
    <div class="row mt-5 mx-1 align-items-center">
      <div class="col-12 col-lg-8">
        <h2>About Us </h2>
        <p class="text-justify">Ask Japanese serves traditional and innovative Japanese cuisine. The atmosphere is casual, while a modern and upscale design contribute to a relaxing and enjoyable dining experience. An eclectic sushi bar is paired with a full-scale Japanese kitchen offering traditional Japanese dishes as well as a full liquor bar featuring ten kinds of sake </p>
        <p class="text-justify">In its 10 years long history, the Ask Japanese restaurant has grown to become one of the biggest Japanese dining destinations located in Cheltenham Together as a bug team of cooking pros we’ve introduced British to a wide variety of new and classic Japanese meals, strengthening the cultural exchange between our two great nations.</p>
      </div>
      <div class="d-none d-lg-block col-lg-4">
        <img src="https://res.cloudinary.com/arthurvg/image/upload/v1638837751/rod-long-kImU-9S9uh8-unsplash_iyozim.jpg" class="img-fluid" alt="About us image">
      </div>
    </div>
  </div>  
</section>
<!--/.About us Section-->
<!--Details Section-->
<section>
  <div class="container">
    <div class="row justify-content-around mb-5 details-row">
      <div class="col-12 col-lg-4 d-none d-md-block details-img">
        <img src="https://res.cloudinary.com/arthurvg/image/upload/v1638818644/where_are_we_xjjwp6.jpg" class="img-fluid" alt="Where we are image">
      </div>
      <!--Address -->
      <div class="col-12 col-md-4 address">
        <ul>
        <li><h2>Where we are</h2></li>
        <li>Cheltenham</li>
        <li>Montpellier Street</li>
        <li>205</li>
        <li>GL51 1DS</li>
        <li>01242 999 999</li>
        <li><a href="{% url 'contact' %}" class="btn address-btn">Contact Us</a></li>
        </ul>
      </div>
      <!--Working Ours-->
      <div class="col-12 col-md-4 working-hours">
        <h5 class="text-center">Our working hours</h5>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Monday</th>
              <td>11:00 - 23:00</td>
            </tr>
            <tr>
              <th scope="row">Tuesday</th>
              <td>11:00 - 23:00</td>
            </tr>
            <tr>
              <th scope="row">Wednesday</th>
              <td>11:00 - 23:00</td>
            </tr>
            <tr>
              <th scope="row">Thursday</th>
              <td>11:00 - 23:00</td>
            </tr>
            <tr>
              <th scope="row">Friday</th>
              <td>11:00 - 23:00</td>
            </tr>
            <tr>
              <th scope="row">Saturday</th>
              <td>11:00 - 23:00</td>
            </tr>
            <tr>
              <th scope="row">Friday</th>
              <td>11:00 - 23:00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--/.Details Section-->

{%endblock%}

{% block scripts %}

<script src="{% static 'js/index.js' %}"></script>

{% endblock %}