{% extends "base.html" %} 

{% block content %}
<!--Hero Section-->
<section>
  <!--Carousel Wrapper-->
  <div id="carousel-hero" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-hero" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-hero" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active first-slide">
        <div class="view">
          <img class="d-block w-100" src="https://res.cloudinary.com/arthurvg/image/upload/v1638584754/jakub-dziubak-iOHJKJqO6E0-unsplash_vxmtc8.jpg"
            alt="First slide">
        </div>
        <div class="carousel-caption">
          <h3 class="text-uppercase">Welcome to Ask Japanese</h3>
          <h1 class="text-uppercase">Japanese restaurant and sushi bar</h1>
          <p class="d-none d-md-block">We’re always in the mood for Japanese food</p>
          <div class="row justify-content-center">
              <div class="col">
                <button type="button" class="btn hero-btn">Book your visit</button>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item second-slide">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="https://res.cloudinary.com/arthurvg/image/upload/v1638584754/jakub-dziubak-iOHJKJqO6E0-unsplash_vxmtc8.jpg"
            alt="Second slide">
        </div>
        <div class="carousel-caption">
          <h3 class="h3">Here we have all you wish from Japanese cuisine</h3>
          <div class="row justify-content-center">
              <div class="col">
                <button type="button" class="btn hero-btn">Check our menu</button>
              </div>
          </div> 
        </div>
      </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-hero" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-hero" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
</section>
<!--/.Hero Section-->

<!--Details Section-->
<section>
  <div class="container">
    <div class="row justify-content-around mb-5 details-row">
      <div class="col-12 col-lg-4 d-none d-md-block details-img">
        <img src="https://res.cloudinary.com/arthurvg/image/upload/v1638818644/where_are_we_xjjwp6.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-12 col-md-4 address">
        <ul>
        <h2>Where we are</h2>
        <li>Cheltenham</li>
        <li>Montpellier Street</li>
        <li>205</li>
        <li>GL51 1DS</li>
        <li>01242 999 999</li>
        <li><button type="button" class="btn address-btn">Contact Us</button></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 working-hours">
        <h4 class="text-center">Our working hours</h4>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Monday</th>
              <td>11:30 - 22:30</td>
            </tr>
            <tr>
              <th scope="row">Tuesday</th>
              <td>11:30 - 22:30</td>
            </tr>
            <tr>
              <th scope="row">Wednesday</th>
              <td>11:30 - 22:30</td>
            </tr>
            <tr>
              <th scope="row">Thursday</th>
              <td>11:30 - 22:30</td>
            </tr>
            <tr>
              <th scope="row">Friday</th>
              <td>11:30 - 22:30</td>
            </tr>
            <tr>
              <th scope="row">Saturday</th>
              <td>11:30 - 22:30</td>
            </tr>
            <tr>
              <th scope="row">Friday</th>
              <td>11:30 - 22:30</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--/.Details Section-->

<!--About us Section-->
<section>
  <div class="container about-us-section">
    <div class="row align-items-center">
      <div class="col-12 col-md-8">
        <h2>About Us </h2>
        <p class="text-justify">Ask Japanese serves traditional and innovative Japanese cuisine. The atmosphere is casual, while a modern and upscale design contribute to a relaxing and enjoyable dining experience. An eclectic sushi bar is paired with a full-scale Japanese kitchen offering traditional Japanese dishes as well as a full liquor bar featuring ten kinds of sake </p>
        <p class="text-justify">In its 10 years long history, the Ask Japanese restaurant has grown to become one of the biggest Japanese dining destinations located in Cheltenham Together as a bug team of cooking pros we’ve introduced British to a wide variety of new and classic Japanese meals, strengthening the cultural exchange between our two great nations.</p>
      </div>
      <div class="col-12 col-md-4">
        <img src="https://res.cloudinary.com/arthurvg/image/upload/v1638837751/rod-long-kImU-9S9uh8-unsplash_iyozim.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  
</section>
<!--/.About us Section-->
{%endblock%}