{% extends "base.html" %} 

{% block content %}
<!--Hero Section-->
<section>
  <div class="hero-image">
    <div class="hero-text">
      <h1>Menu</h1>
    </div>
  </div>
</section>
<!--/.Hero Section-->
<!--Menu Section-->
<section class="menu-section">
  <div class="row">
    <div class="col">
      <h2 class="text-center mt-5">Check out our menu</h2>
    </div>
  </div>
  <!--Menu Navigation-->
  <div class="row text-center">
    <div class="col-12 ">
      <ul class="p-0 m-0">
        <li class="btn sushi-sashimi d-inline mr-2 li-orange">Sushi & Sashimi</li>
        <li class="btn rice-noodles d-inline mr-2 li-black">Rice & Noodles</li>
        <li class="btn sides d-inline mr-2 li-orange">Sides</li>
        <li class="btn drinks d-inline mr-2 li-black">Drinks</li>
        <li class="btn desserts d-inline mr-2 li-orange">Desserts</li>
      </ul>
    </div>
  </div>
  <!--./Menu Navigation-->
  <!--Sushi Sashimi View-->
  <div class="row justify-content-center text-center mt-5 p-3 d-flex sushi-sashimi-view">
    <div class="col-12 col-md-6 col-lg-4">
    <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639176449/menu-sushi-1_epp8oa.jpg" alt="nigiri moriwase" class="img-fluid">
    <h3>nigiri moriwase <span class="item-price">£12.50</span></h3>
    <p>Assorted nigiri sushi with sushi roll (12 pieces)</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639412608/sushi-menu_repcpw.jpg" alt="Tiger Roll" class="img-fluid">
      <h3>Tiger Roll <span class="item-price">£7.50</span></h3>
      <p>rice + nori + prwan tempura + cucumber (6 pieces)</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639179556/menu-item-3_pwhnpz.jpg" alt="dragon roll" class="img-fluid">
      <h3>dragon roll <span class="item-price">£8.00</span></h3>
      <p>California roll topped with fresh salmon, shichimi powder & spring (8 pieces)</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639179788/menu-item-4_dgsejm.jpg" alt="salmon ponzu" class="img-fluid">
      <h3>salmon ponzu <span class="item-price">£9.00</span></h3>
      <p>Thinly sliced salmon, topped with salsa & a zingy ponzu dressing (10 pieces)</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639180170/menu-item-5_mbfy8v.jpg" alt="tuna & avocado tartare" class="img-fluid">
      <h3>tuna & avocado tartare <span class="item-price">£8.50</span></h3>
      <p>Premium yellowfin tuna with diced & a ponzu sauce, topped with crispy shallots (6 pieces)</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639413109/maki_byea3f.jpg" alt="Maki Salmon" class="img-fluid">
      <h3>Maki Salmon <span class="item-price">£6.00</span></h3>
      <p>rice + nori + salmon (6 piececs)</p>
    </div>
  </div>
  <!--./Sushi Sashimi View-->
  <!--Rice Noodles View-->
  <div class="row justify-content-center text-center mt-5 p-3 d-none rice-noodles-view">
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639417144/noodles-2_unzupt.jpg" alt="Yakisoba Vegetable " class="img-fluid">
      <h3>Yakisoba Vegetable <span class="item-price">£6.50</span></h3>
      </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639417144/noodle-1_xmbpg0.jpg" alt="Yakisoba Beef" class="img-fluid">
      <h3>Yakisoba Beef <span class="item-price">£7.50</span></h3>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639417144/noodles-3_rrtydf.jpg" alt="Yakisoba Chicken" class="img-fluid">
      <h3>Yakisoba Chicken <span class="item-price">£7.50</span></h3>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639417936/tayawee-supan-GPvX2cZdU_Q-unsplash_iftw1g.jpg" alt="katsu" class="img-fluid">
      <h3>Pork Katsu <span class="item-price">£7.50</span></h3>
    </div>
  </div>
  <!--./Rice Noodles View-->
  <!--Sides View-->
  <div class="row justify-content-center text-center mt-5 p-3 d-none sides-view">
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639412035/menu-item-11_rphjqt.jpg" alt="yakitori" class="img-fluid">
      <h3>chicken yakitori <span class="item-price">£4.50</span></h3>
      <p>marinated chicken skewers + spicy teriyaki sauce + shichimi + spring onion</p>
      </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639186442/drica-pinotti-wbFtlJIYPNk-unsplash_s5lc21.jpg" alt="pork ribs" class="img-fluid">
      <h3>sticky ribs <span class="item-price">£4.50</span></h3>
      <p>mushroom +  ribs. sweet + spicy sticky sauce. sesame seeds. spring onion</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639186037/dilara-yilmaz-qqThVHqcpgA-unsplash_l17l0v.jpg" alt="fried greens" class="img-fluid">
      <h3>fried greens <span class="item-price">£4.25</span></h3>
      <p>tenderstem broccoli + bok choi + garlic/soy sauce</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639186271/kyle-head-PW8K-W-Kni0-unsplash_1_f1wk4j.jpg" alt="salmon salad" class="img-fluid">
      <h3>Salmon Salad <span class="item-price">£4.25</span></h3>
      <p>sakmon + letuce + garlic + soy sauce</p>
    </div>
  </div>
  <!--./Sides View-->
  <!--Drinks View-->
  <div class="row justify-content-center text-center mt-5 p-3 d-none drinks-view">
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639410874/coke-menu_aw2k73.png" alt="coke" class="img-fluid">
      <h3>Coke <span class="item-price">£2.00</span></h3>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639410994/diet-coke-menu_ugwf9c.png" alt="diet-coke" class="img-fluid">
      <h3>Diet Coke <span class="item-price">£2.00</span></h3>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639411088/sprit-menu_uvjhgi.png" alt="sprite" class="img-fluid">
      <h3>Sprite <span class="item-price">£2.00</span></h3>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639411280/japanese-beer_knsc97.png" alt="japanese-beer" class="img-fluid">
      <h3>Asahi 500ml <span class="item-price">£4.00</span></h3>
      <p>Japanese Beer</p>
    </div>
  </div>
  <!--./Drinks View-->
  <!--Desserts View-->
  <div class="row justify-content-center text-center mt-5 p-3 d-none desserts-view">
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639419455/desserts-1_qyygrc.jpg" alt="Taiyaki" class="img-fluid">
      <h3>Taiyaki <span class="item-price">£6.00</span></h3>
      <p>chocolate fish-shaped cake (4 pieces)</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="https://res.cloudinary.com/arthurvg/image/upload/v1639420510/ali-muhamad-EsEU5UeMN6s-unsplash_axjkoi.jpg" alt="Dorayaki" class="img-fluid">
      <h3>Dorayaki <span class="item-price">£3.00</span></h3>
      <p>Two small pancake-like patties made from castella wrapped around a filling of sweet azuki bean paste</p>
    </div>
  </div>
  <!--/.Desserts View-->    
</section>
<!--/.Menu Section-->


{% endblock %}
